.banner {
  object-fit: cover;
  height: 42vh;
  width: 100vw;
  z-index: -1;
  background-color: #eee7df;
  display: flex;
}

.banner_video {
  height: 42vh;
  width: 50vw;
  background-color: white;
  border: 1px solid black;
}

.banner_video iframe {
  width: 50vw;
  height: 42vh;
}

.banner_caption {
  height: 42vh;
  width: 50vw;
}

.banner_label h2 {
  font-size: 2.25vw;
  font-weight: 700;
  width: 26vw;
  height: 10vh;
  background-color: #f68121;
  color: #ffffff;
  padding: 15px;
  padding-left: 40px;
  padding-bottom: 10px;
  text-align: left;
  position: absolute;
  left: -15vw;
  top: -14vh;
}

.banner_label span {
  font-size: 1.25vw;
  font-weight: 700;
  width: 26vw;
  background-color: #f68121;
  color: #ffffff;
  padding: 15px;
  padding-top: 5px;
  padding-left: 40px;
  text-align: left;
  position: absolute;
  left: -15vw;
  top: -6vh;
}

.carousel_item {
  position: relative;
  width: 40vw;
  height: 42vh;
  margin: 0 auto;
  padding-top: 9vh;
  text-align: center;
  color: #3c3d3c;
}

.carousel_item h2 {
  font-size: 1.75vw;
  font-weight: 700;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.carousel_item p {
  font-size: 1vw;
  font-weight: 400;
  height: 5vh;
  margin: 0;
  line-height: -20px;
  text-align: right;
  margin-right: 4vw;
  margin-top: 1vh;
}

.carousel_item p span {
  display: inline;
  position: relative;
  font-size: 2vw;
  margin-right: 10px;
  top: 0.4vw;
}

.carousel-indicators {
  display: inline;
  position: absolute;
  justify-content: center;
  margin: 0;
}

.carousel-indicators li:not(.active) {
  background-color: #e2e2e2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 80%;
}

.carousel-indicators li.active {
  background-color: #f68121;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.events_icons_container {
  width: 100vw;
  height: 24vh;
  background-color: #f2cbab;
  margin-top: -3vh;
}

.events_box {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1vh;
}

.events {
  position: relative;
  display: inline-block;
  width: 4vw;
  height: 4vw;
  background-color: transparent;
  margin-top: 4vh;
}

.events_icons {
  display: inline-block;
  width: 6vw;
  height: 6vw;
  justify-content: center;
}

.events_icons img {
  position: relative;
  display: flex;
  object-fit: fill;
  height: 6vw;
  width: 6vw;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid black;
}

.events_label {
  top: 0;
  display: block;
  position: relative;
  left: -5vw;
  width: 16vw;
  text-align: center;
  margin-top: 2vh;
}

.events_label div {
  display: inline;
  position: relative;
  color: #3c3d3c;
  font-size: 2vh;
  top: -15px;
}

.signup_container {
  position: relative;
  width: 100vw;
  height: 16vw;
  background-color: #f2cbab;
  margin-top: -7px;
}

.signup_box {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1vh;
}

.signup_img {
  display: inline-block;
  width: 10vw;
  height: 10vw;
  justify-content: center;
  margin-top: 6vh;
  margin-left: 30vh;
}

.signup_img img {
  position: relative;
  display: flex;
  object-fit: fill;
  height: 10vw;
  width: 10vw;
  margin: 0 auto;
  border-radius: 50%;
}

.signup_label {
  position: relative;
  font-weight: 700;
  font-size: 1.5vw;
  width: 50vw;
  height: 10vw;
  background-color: transparent;
  margin-top: 8vh;
  color: #3c3d3c;
  text-align: center;
  justify-content: center;
}

.signup_label p {
  width: 90%;
  margin-left: 5%;
  margin-top: 1.25vw;
}

.button_container {
  display: flex;
  justify-content: space-between;
}

.carousel_container {
  position: relative;
  width: 100vw;
  height: 50vh;
  /* margin-top: -7px; */
}

.content_container {
  width: 100vw;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.content_box {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1vh;
}

.content {
  position: relative;
  display: inline-block;
  width: 45vw;
  height: 27vh;
  background-color: #eee7df;
  margin-top: 2.5vh;
  cursor: pointer;
}

.content_image {
  display: inline-block;
  position: relative;
  width: 18vw;
  height: 27vh;
  text-align: center;
}

.content_image img {
  object-fit: cover;
  height: 13vh;
  width: 13vh;
  border-radius: 50%;
  margin: 0 auto;
  border: 2px solid;
  border-color: #f68121;
  margin-top: 3vh;
}

.content_image span {
  position: relative;
  top: 0.5vh;
  font-size: 1vw;
}

.content_image p {
  position: relative;
  font-size: 2vw;
  margin-top: 3vh;
  top: -2.5vh;
}

.content_button {
  display: inline-block;
  position: relative;
  width: 27vw;
  height: 27vh;
  font-weight: 700;
  font-size: 12px;
  margin: 0;
}

.content_button span {
  margin-left: 2vw;
}

.button_label {
  position: relative;
  display: flex;
  width: 45%;
  height: 6vh;
  font-size: 1.25vw;
  font-weight: 700;
  left: 20vw;
  top: -17vh;
  text-align: center;
  line-height: 8vh;
  justify-content: center;
}

.button_label span {
  display: inline-block;
  vertical-align: middle;
  line-height: 3vh;
  margin-top: -4vh;
}

.quote_icon {
  position: relative;
  font-size: 2.5vw;
  font-weight: 700;
  color: #6f706f;
  left: -1vw;
  top: -1vh;
}

.signup_label p {
  width: 60%;
  margin-left: 5%;
  margin-top: -1vw;
  text-align: left;
}

.button_container {
  display: flex;
  justify-content: space-between;
}

.signup_button {
  padding: 5px 40px;
  border-radius: 20px;
  background-color: #f68121;
  color: #ffffff;
  margin-left: 4vw;
}
