.reachimpact_container {
    width: 100vw;
    height: 747px;
    background-color: #eee7df;
}
  
.reachimpact_container h2 {
    font-size: 60px;
    font-weight: 700;
    margin-left: 4vw;
    padding-top: 95px;
    margin-bottom: 53.13px;
}

.reachimpact_row {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 95px;
}
  
.reachimpact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 180px;
}
   
.reachimpact_icons {
    width: 10vw;
    height: 80px;
}
  
.reachimpact_icons img {
    height: 100%;
    width: 100%;
    object-fit: contain;
 }

 .reachimpact_emoji {
    width: 10vw;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.reachimpact_title {
    font-weight: 400;
    font-size: 48px;
}

.reachimpact_title_colourO{
    font-weight: 700;
    color: #F68121;
}

.reachimpact_label {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    position: relative;
    top: -10px;
  } 