.img-fluid {
  max-height: 500px;
  max-width: 500px;
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.scrollit {
  float: left;
}

.fixed {
  position: fixed;
  right: 0;
}
