* {
  font-family: Roboto;
  box-sizing: border-box;
}

.App {
  text-align: center;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.page_container {
  margin-top: -10px;
}

.page_header {
  width: 100vw;
  height: 30px;
  background-color: #f68121;
  color: #ffffff;
  line-height: 32px;
  font-weight: 700;
  font-size: 12px;
}

.page_header span {
  margin-left: 3.5vw;
}

.banner {
  object-fit: cover;
  height: 60vh;
  z-index: -1;
}

.banner_label span {
  font-size: 1.25em;
  font-weight: 700;
  width: 48vw;
  background-color: #f68121;
  color: #ffffff;
  padding: 15px;
  text-align: left;
  position: absolute;
  left: -15vw;
  top: -15vh;
}

.carousel-indicators {
  position: relative;
  justify-content: center;
}

.carousel-indicators li:not(.active) {
  background-color: #e2e2e2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 80%;
  margin-top: 2.5px;
}

.carousel-indicators li.active {
  background-color: #f68121;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.content_container {
  width: 100vw;
  margin-bottom: 5vh;
}

.content_box {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1vh;
}

.content {
  position: relative;
  display: inline-block;
  width: 45vw;
  height: 27vh;
  background-color: transparent;
  margin-top: 2.5vh;
}

.content_image {
  display: inline-block;
  width: 22.5vw;
  height: 24vh;
  background-color: grey;
}

.content_image img {
  object-fit: cover;
  height: 24vh;
  width: 22.5vw;
}

.content_button {
  display: inline-block;
  width: 22.5vw;
  height: 24vh;
  background-color: #eee7df;
  font-weight: 700;
  font-size: 12px;
  position: relative;
}

.content_label {
  top: -62.5px;
  display: block;
  position: relative;
  width: 100%;
  height: 3vh;
  background-color: #f68121;
}

.content_label span {
  display: inline;
  position: relative;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  margin-left: 1.5vw;
  top: -3px;
}

.button_label {
  position: relative;
  display: flex;
  width: 35%;
  height: 8vh;
  font-size: 18px;
  font-weight: 700;
  left: 26vw;
  top: -17vh;
  text-align: center;
  line-height: 8vh;
  justify-content: center;
}

.button_label span {
  display: inline-block;
  vertical-align: middle;
  line-height: 4vh;
}
