
:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --white: #fff;
}

.container {
  color: warning;
}

.button {
  color: #fff;
  background-color: primary;
  padding: 7px 14px;
  margin:0 5px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.button:hover {
  background-color: red
}
