.App {
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items:center;
}

p {
  margin: 20px;
}

button {
  margin-bottom: 20px;
}

.controls {
  margin: 20px;
}

.light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: '1px solid';
  background: black;
}