@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
  text-align: center;
}

h1 {
  color: rgb(2, 104, 183);
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.result-card {
  margin: 2em;
}