/*uncomment to see div layout*/
/*div {
	border: 1px solid firebrick;
}*/

body {
  font-family: monospace;
  text-align: center;
}

#redBox {
  background-color: red;
}

.completeButton {
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.toDoItem {
  background-color: blue;
  color: white;
  height: 100px;
  text-align: center;
  margin: 10px;
}

.container {
  width: 800px;
  height: 730px;
  margin: 0 auto;
}

#input-box {
  height: 30px;
  width: 300px;
}

#submit {
  height: 30px;
  width: 100px;
  border: none;
  background-color: firebrick;
  color: white;
}

#to-do-list,
#completed {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
}

#to-do-list {
  width: 380px;
  height: 600px;
}

#completed {
  width: 380px;
  height: 600px;
}

.to-do-item {
  color: white;
  height: 80px;
  width: 360px;
  border: 1px solid grey;
  background-color: cornflowerblue;
  border-radius: 10px;
  margin-bottom: 10px;
}
